:root {
	--primary-color: #303935;
	--secondary-color: #22b2e5;
	--paragraph-text-color: #666;
	--nav-text-color: #007bff;
	--bg-color-dark: #f3f3f3;
	--bg-color-light: #ffffff;
	--mobile-bg-dark: #1d1e1f;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Titillium Web", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.header-top {
	display: block;
	max-width: 100%;
	padding: 8px 0;
	background-color: var(--primary-color);
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1140px;
}

.top-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.header-top ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;

	a {
		font-size: 18px;
		color: white;
		text-decoration: none;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
		display: flex;
		align-items: center;
		gap: 4px;

		&:hover {
			opacity: 0.8;
		}
		img {
			max-height: 18px;
		}
	}

	.social-icons {
		gap: 10px;
	}
}

.header-top .top-lang {
	color: white;
}

.navigation-bar {
	position: sticky;

	.navbar-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.navigation-bar .nav-logo img {
	max-height: 75px;
	max-width: 100%;
}

.navigation-bar .search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	margin: 20px 0 10px;
	height: 40px;
	opacity: 1;
	transition: all 0.3s;

	input {
		border-radius: 20px 0 0 20px;
		width: 40%;
		background-color: white;
		border: 1px solid var(--secondary-color);
		height: 40px;
		padding: 5px 20px;
		outline: none;
	}

	button {
		border-radius: 0 20px 20px 0;
		background-color: var(--secondary-color);
		color: white;
		border: none;
		padding: 0 30px;
		font-weight: 700;
		outline: none;
		cursor: pointer;
		height: 40px;
	}
}

.navbar-right {
	display: flex;
	flex-direction: column;

	.menu {
		ul {
			margin: 0px;
			padding: 0;
			display: flex;
			justify-content: flex-end;
			gap: 12px;
			list-style: none;
			width: 100%;

			li {
				white-space: nowrap;
				padding: 0px 0px 7px 0px;
			}

			a {
				display: block;
				text-align: center;
				font-weight: 700;
				opacity: 1;
				color: var(--primary-color);
				padding: 0;
				transition: all 300ms ease;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: var(--nav-text-color);
				}
			}
		}
	}
}

.mobile-header {
	display: none;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
	border-bottom: none;
	background-color: white;

	.hamburger-toggle {
		background: transparent;
		padding: 0px;
		margin: 0 10px;
		border: none;
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			font-size: 30px;
			margin-left: 10px;
		}
	}
}

.mobile-navbar {
	display: none;
	-webkit-animation: fadeInLeft 0.5s;
	animation: fadeInLeft 0.5s;
	overflow-x: scroll;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	width: 100%;
	color: #fff;
}

.mobile-close-btn {
	position: absolute;
	top: 18px;
	right: 20px;
	z-index: 9999;

	i {
		font-size: 25px;
		color: white;
	}
}

.mobile-navbar-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 20px;
	padding: 20px;
	width: 75%;
	height: 100dvh;
	overflow-y: scroll;
	background-color: var(--mobile-bg-dark);
}

.mobile-navbar-top {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	color: #b5bbc2;
	width: 100%;

	a {
		font-size: 14px;
		font-weight: 600;
	}

	i {
		display: block;
		margin: 0 auto 10px;
		max-width: 30px;
		line-height: 32px;
		font-size: 30px;
	}
}

.mobile-navbar-langs {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 20px;

	img {
		max-width: 100%;
		height: auto;
		width: 60px;
		border-radius: 26px;
	}
}

.mobile-navbar-content .contact-us {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	a {
		line-height: 40px;
		-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
		display: block;
		color: #fff;
		background: #00aad0;
		text-align: center;
		margin: 20px 20px 10px;
		border-radius: 26px;
		text-decoration: none;
		width: 100%;
		max-width: 400px;
	}
}

.mobile-navbar-socials {
	width: 100%;
}

ul.mobile-menu-social {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	list-style: none;
	flex-wrap: wrap;

	li {
		margin: 5px;

		a {
			border: 1px solid #00aad0;
			display: flex;
			width: 35px;
			height: 35px;
			align-items: center;
			justify-content: center;
			color: #fff;
			border-radius: 50%;
			text-decoration: none;
		}
	}
}

.mobile-nav-menu ul {
	list-style: none;

	li {
		padding: 10px 25px;

		a {
			color: #b5bbc2;
			font-weight: 600;
			font-size: 14px;
		}
	}
}

.banner {
	width: 100%;
	position: relative;
}

.banner .banner-slider {
	max-width: 100%;
	width: 100%;
	display: flex;
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

.snaps-inline {
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.snaps-inline > * {
	scroll-snap-align: start;
}

.banner-slider .slider-item {
	max-width: 100%;
	width: 100%;
	display: flex;

	img {
		min-width: 100%;
		object-fit: cover;
	}
}

.banner-slider-nav {
	position: absolute;
	display: flex;
	width: 100%;
	bottom: 20px;
	justify-content: center;
	gap: 20px;
}

.banner-slider-nav-btn {
	background: none;
	color: inherit;
	display: flex;
	outline: none;
	border: none;
	cursor: pointer;

	span {
		background: var(--secondary-color);
		width: 25px;
		height: 10px;
		border-radius: 0;
	}
}

.banner-slider-nav-btn.active {
	span {
		background: var(--primary-color);
	}
}

main {
	max-width: 100%;
	width: 100%;
}

.about-us-section {
	width: 100%;
	display: flex;
	padding: 70px 0;
}

.about-us-section .container {
	display: flex;
	justify-content: center;
}

.about-us-section-content {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
	width: 100%;
}

.about-us-section .about-us-section-video,
.about-us-section .about-us-section-text {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.about-us-section-video {
	display: flex;
	align-items: start;
	justify-content: center;
}

.about-us-section-image {
	position: relative;

	display: flex;
	min-width: 95%;
	max-width: 100%;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	img {
		width: 100%;
		object-fit: cover;
	}
}

.video-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

button.video-play-button {
	z-index: 10;
	box-sizing: content-box;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	background: none;
	cursor: pointer;

	span {
		z-index: 3;
		width: 0;
		height: 0;
		border-left: 32px solid #fff;
		border-top: 22px solid transparent;
		border-bottom: 22px solid transparent;
	}
}

button.video-play-button:hover::after {
	background-color: var(--primary-color);
}

button.video-play-button::before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 50%;
	-webkit-animation: pulse-border 1500ms ease-out infinite;
	animation: pulse-border 1500ms ease-out infinite;
}

button.video-play-button::after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: var(--secondary-color);
	border-radius: 50%;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

.about-us-section-text {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 0 10px 0 15px;
	gap: 20px;
}

.about-us-section-text .description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--paragraph-text-color);
}

.about-us-section-text .description p {
	font-size: 14pt;
	align-items: left;
}

h2.section-title {
	color: var(--primary-color);
	font-size: 30px;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
}

h2.section-title::after {
	content: "";
	position: absolute;
	width: 250px;
	height: 2px;
	background-color: var(--primary-color);
	left: 0;
	bottom: 0;
}

.our-products-section {
	width: 100%;
	background-color: var(--bg-color-dark);
	padding: 70px 0;
}

.our-products-content-area {
	padding: 0 15px;
}

.our-products-text-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 20px 0 0;
}

.text-area-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--paragraph-text-color);
	font-size: 14pt;
	text-wrap: wrap;
}

.button-area-right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
	padding: 0 10px 0 15px;
	margin: 10px 0;
}

.button-area-right .our-products-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;

	button {
		background-color: var(--secondary-color);
		width: 100%;
		border-radius: 50px;
		border: none;
		cursor: pointer;
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: var(--primary-color);
		}

		a {
			padding: 15px 10px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-weight: 700;
			font-size: 1rem;
		}

		i {
			font-size: 30px;
			margin-right: 10px;
		}
	}
}

.our-products-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.card-container {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
	cursor: pointer;
}

.product-card figure {
	position: relative;
	margin: 0;
	padding: 0;
}

.product-card img {
	display: block;
	width: 100%;
	height: auto;
	border-style: none;
	border-radius: 20px;
}

.product-card img.hover-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.product-card:hover img.hover-image {
	opacity: 1;
}

.product-card:hover img.default-image {
	opacity: 0;
}

.product-card figcaption {
	margin-top: 5px;
	font-size: 14px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px #ddd;
	border-radius: 50px;
	padding: 10px;
	text-align: center;
	color: var(--primary-color);
	font-weight: 600;
	background-color: white;
	transition: color 0.3s ease-in-out;
}

.product-card:hover figcaption {
	color: var(--secondary-color);
}

.our-videos-section {
	width: 100%;
	padding: 70px 0;
	display: block;
	justify-self: center;
}

.our-videos-section h2.section-title {
	margin: 0 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.our-videos-section h2.section-title::after,
.our-videos-section h2.section-title::before {
	left: auto;
}

.slider-section .container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.slider-section .slider-btn {
	border-radius: 50%;
	color: white;
	font-size: 15px;
	background-color: var(--secondary-color);
	padding: 10px;
	width: 35px;
	height: 35px;
	padding-right: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
}

.slider-section .slider-btn:hover {
	background-color: var(--primary-color);
}

.slider-section .slider-container {
	display: flex;
	max-width: 100%;
	width: 100%;
	display: flex;
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	gap: 1%;
}

.slider-card {
	min-width: 24.25%;
	max-width: 24.25%;

	a {
		text-decoration: none;
		max-width: 100%;
		color: var(--primary-color);

		figure {
			min-width: 100%;
			img {
				max-width: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}
	}
}

.slider-card figure figcaption {
	display: block;
	justify-self: center;
	font-weight: 600;
	color: var(--primary-color);
}

@media (min-width: 768px) {
	.navbar-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.navbar-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}

	.header-top {
		display: none;
	}
	.navigation-bar {
		display: none;
	}

	.mobile-header {
		display: block;
	}

	.mobile-header-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
	.mobile-header-logo {
		display: flex;
		align-items: center;
		img {
			max-width: 120px;
		}
	}

	.text-area-left,
	.button-area-right {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.button-area-right {
		padding: 0;
		margin: 10px 0;
	}

	.slider-card {
		min-width: 32.6%;
		max-width: 32.6%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.about-us-section .about-us-section-video,
	.about-us-section .about-us-section-text,
	.our-products-content-area,
	.card-container {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.slider-section .slider-btn {
		display: none;
	}

	.slider-card {
		min-width: 49.25%;
		max-width: 49.25%;
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
	}

	.slider-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 99.25%;
		max-width: 99.25%;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.overlay {
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none;
	min-width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

.overlay .video-frame {
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
	width: 100%;
	max-width: 964px;
	max-height: 600px;
}

.video-frame-wrapper {
	width: 100%;
	max-width: 964px;
	max-height: 100%;
}

.video-frame-wrapper .video-frame iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
	max-height: 600px;
}

.close-overlay {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 35px;
	height: 35px;
	font-size: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
}
